<?xml version="1.0" encoding="utf-8" ?> <!--WebConfig header @0-EFBEC7D5-->

<!--WebConfig @0-C0CA6338-->
<configuration>
  <configSections>
    <sectionGroup name="connectionCommands">
      <section name="_IMCommands"
       type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
    </sectionGroup>
  <section name="locales" type="IssueManager.LocalesConfigHandler"/>
  </configSections>  
   
<!--End WebConfig-->

<!--WebConfig appSettings @0-95FBD295-->
  <appSettings>
  


	<add key="IMString" value="Persist Security Info=False;User ID=sa;Initial Catalog=issue_tracker;Data Source=.\SQLEXPRESS;User ID=sa;Password=power"/>


<!--

 <add key="IMString" connectionString="Data Source=MOMIN-PC\SQLEXPRESS;Initial Catalog=issue_tracker;Integrated Security=True;" providerName="System.Data.SqlClient" />
-->

      <add key="IMType" value="Sql"/>
	  <add key="IMServer" value="MSSQLServer"/>
	  <add key="IMDateFormat" value="yyyy-MM-ddTHH\:mm\:ss"/>
      <add key="IMBoolFormat" value="1;0"/>
      <add key="IMDateRightDelimeter" value="'"/>
      <add key="IMDateLeftDelimeter" value="'"/>
      <add key="IMOptimized" value="False"/>
  
      <add key="ServerUrl" value="http://localhost/im/net20_mssql/"/>
      <add key="SecuredUrl" value=""/>
    
      <add key="CultureId" value=""/>
      <add key="SiteLanguage" value="en"/>
	  <add key="AccessDeniedUrl" value="Login.aspx"/>
      <add key="DefaultDateFormat" value="d"/>
      <add key="DefaultBooleanFormat" value=""/>
  </appSettings>
   
<!--End WebConfig appSettings-->

<!--Conection commands @0-06297247-->
  <connectionCommands>
    <_IMCommands>
     
    </_IMCommands>
  </connectionCommands>
   
<!--End Conection commands-->

<!--Locales @0-88C493B8-->
  <locales>
	<locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="True;False;" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;T;W;T;F;S" encoding="utf-8" />
	<locale language="pl" country="" defaultCountry="PL" name="pl-PL" booleanFormat="1;0;" zeroFormat="" nullFormat="" weekdayNarrowNames="N;P;W;Ś;C;P;S" encoding="utf-8" />
  </locales>
   
<!--End Locales-->

<!--WebConfig system.web header @0-DB152CF3-->
  <system.web>
  
<!--End WebConfig system.web header-->

<!--Authentication @0-3A033094-->
	<authentication mode="Forms" >
         <forms loginUrl="Login.aspx"/>
    </authentication>
	<membership defaultProvider="CCSMembershipProvider">
		<providers>
			<add connectionString="IM" name="CCSMembershipProvider" type="IssueManager.Security.CCSMembershipProvider"
			tableName = "users"
			userIdField = "user_id"
			userLoginField = "login"
			userPasswordField = "pass"
			userGroupField = "security_level"
			userIdSessionVariable = "UserID"
			userGroupSessionVariable = "GroupID"
			userLoginSessionVariable = "UserLogin"
			/>
		</providers>
	</membership>
	
<!--End Authentication-->

<!--WebConfig system.web @0-926CEBAA-->

	<compilation
         defaultLanguage="C#" debug="true">
		 <assemblies>
			<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			
		 </assemblies>
	</compilation>


    <!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors 
	 mode="Off" 
    /> 

   
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
	localOnly="true"
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
			requestEncoding="windows-1250"
			responseEncoding="windows-1250"
			fileEncoding="utf-8"
   />

   
 </system.web>

</configuration>

<!--End WebConfig system.web-->

